apiVersion: v1
kind: Pod
metadata:
  name: env-pod
spec:
  containers:
    - name: myapp
      image: busybox
      command: ["sh", "-c", "env; sleep 3600"]
      envFrom:
        - configMapRef:
            name: app-config
