apiVersion: v1
kind: Pod
metadata:
  name: volume-pod
spec:
  containers:
    - name: myapp
      image: busybox
      command: ["sh", "-c", "ls /etc/config; cat /etc/config/*; sleep 3600"]
      volumeMounts:
        - name: config-volume
          mountPath: /etc/config
  volumes:
    - name: config-volume
      configMap:
        name: file-config
