---
- name: Install and start Apache (httpd)
  hosts: webserver
  become: yes
  tasks:
    - name: Install httpd
      package:
        name: httpd
        state: present

    - name: Start and enable httpd
      service:
        name: httpd
        state: started
        enabled: yes
