#Deploy a Stateless Web Server
#Nginx Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: my-nginx-container
        image: 91197/nginx_custom:1.0 
        ports:
        - containerPort: 80


---
#Service
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: NodePort
  selector:
    app: nginx # This must match the labels on your pods
  ports:
    - protocol: TCP
      port: 80       # Port inside the cluster
      targetPort: 80 # Port on the container
      # nodePort: 30007 # Optional: You can specify a port or let Kubernetes choose one

